* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#imageInput {
    margin-bottom: 20px;
}

#imageContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Set a minimum height for the container */
    border: 2px dashed #ccc;
    padding: 10px;
    width: 80%;  /* Limit the width of the container */
    max-width: 500px;  /* Ensure the container does not exceed a certain size */
    height: auto;
}

#displayImage {
    max-width: 100%;  /* Limit the width to the container's width */
    max-height: 400px; /* Ensure the image doesn't exceed a reasonable height */
    height: auto;  /* Maintain aspect ratio */
    display: none;  /* Hidden until an image is loaded */
    margin: 0 auto; /* Center horizontally */
}
